{% extends "layout.html" %}

{% block content %}
    <div class="card mt-5 pb-0 w-100 mx-auto">
        <div class="card-body pb-0">
            <h5 class="card-title">OCR Project</h5>
            <div class="mb-3">
                <form class="mt-3" action="" method="POST" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="mb-2">
                        {{ form.image_file.label(class="form-label") }}
                        {{ form.image_file(class='form-control mb-1', accept="image/*") }}
                        {% if form.image_file.errors %}
                            {% for error in form.image_file.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
